
* {
    box-sizing: border-box;
    /* border: 1px solid gray; */
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* General Styles */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family:'Montserrat', sans-serif;
}

header{
    padding: 2% 0;
    margin: 0 auto;
}

/* Header Styles */

header {
    background-color: #bbd1fa;
    display: flex;
    justify-content: center;
}

.header-tags {
    text-align: center;
    font-family: "Raleway", sans-serif;

}

h1 {
    font-size: 7rem;
    font-weight: 500;
}

h2 {
    font-size: 2em;
    font-weight: 200;
    font-style: italic;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.topsection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1672309046475-4cce2039f342?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8MHwwfHx8Mg%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    /* https://picsum.photos/800/500 */
}

.topsection a{
    text-decoration: none;
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    color: azure;
}

/* Body Styles */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
}

.row div{
    width: 30%;
    margin: 2% 0;
}

footer {
    background-color: #bbd1fa;
    padding: 2rem ;
    text-align: center;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.bottombutton {
    height: 20%;
    width: 10rem;
    margin-top: 5rem;
    
}

.buttontext {
    text-decoration: none;
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: .5rem 1rem;
}

button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 800px){

}
@media(max-width: 500px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links button{
        width: 100%;
        margin: 1% 0;
    }
    .topsection{
        width: 80%;
        margin: 0 auto;
    }
    .row div{
        width: 40%;
    }
}